html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Roboto", -apple-system, "San Francisco", "Segoe UI", "Helvetica Neue", sans-serif;
    background-color: #eee;
    height: 100%;
}

@page {
    size: A4 portrait;
}

@media print {

    html,
    body {
        background-color: #fff;
    }

    .page {
        width: initial !important;
        min-height: initial !important;
        margin: 0 !important;
        padding: 0 !important;
        border: initial !important;
        border-radius: initial !important;
        background: initial !important;
        box-shadow: initial !important;
    }
}

.sidebar input {
    max-width: 230px;
}

.addItemButton {
    all: unset;
    cursor: pointer;
    display: flex;
    position: relative;
    width: 98%;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
    box-shadow: var(--box-shadow-base);

    &::before {
        content: '';
        position: absolute;
        background-color: var(--colorful-button-add);
        border-radius: 5px;
        opacity: 0;
        height: 22px;
        z-index: 1;
        pointer-events: auto;
        transition: opacity 0.2s ease, height 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;

    }

    &:hover::before {
        box-shadow: var(--box-shadow-hover);
        transform: scale(1.01);
    }

    &::after {
        content: '+';
        position: absolute;
        top: 42%;
        left: 51%;
        transform: translate(-50%, -44%);
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
        opacity: 0;
        z-index: 2;
        pointer-events: none;
    }
}

.list:last-child:hover .addItemButton {
    height: 22px;
    margin-bottom: 10px;
    margin-top: 7px;

    &::before {
        opacity: var(--colorful-opacity);
        width: 100%;
    }

    &::after {
        opacity: 0.9;
    }
}