html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Roboto", -apple-system, "San Francisco", "Segoe UI", "Helvetica Neue", sans-serif;
    background-color: #eee;
    height: 100%;
}

body *:focus {
    box-shadow: 0 0 0 2px Highlight;
    border-radius: 6px;
}

@media print {

    html,
    body {
        background-color: #fff;
    }

    .page {
        width: initial !important;
        min-height: initial !important;
        margin: 0 !important;
        padding: 0 !important;
        border: initial !important;
        border-radius: initial !important;
        background: initial !important;
        box-shadow: initial !important;
    }
}

#a4-container {
    cursor: default;
}

textarea {
    all: unset;
}

.hoverable:hover {
    border-radius: var(--border-radius-base);
    background: var(--hover-bg);
    border-color: var(--hover-border);
    box-shadow: var(--hover-shadow);
    color: var(--greyed-text);
}

.hover-disabled .hoverable {
    pointer-events: none !important;
}

.sortable-chosen {
    box-shadow: none;
}

.sortable-drag {
    opacity: 0;
}

.draggable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ghost {
    border-radius: var(--border-radius-base);
    background: var(--hover-bg);
    border-color: var(--hover-border);
    box-shadow: none;
    color: var(--greyed-text);
}

.sidebar input {
    max-width: 230px;
}

.color-wheel-cursor {
    position: fixed;
    width: 32px;
    height: 32px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 9;
    transform: translate(2px, -28px);
}

.addItemButton {
    all: unset;
    display: flex;
    position: relative;
    width: 98%;
    cursor: pointer;
    border-radius: var(--border-radius-base);
    margin: 0;

    &::before,
    &::after {
        content: '';
        position: absolute;
        opacity: 0;
        transition: opacity var(--transition-fast);
    }

    &::before {
        background-color: var(--colorful-button-add);
        border-radius: var(--border-radius-base);
        height: 22px;
        z-index: 1;
        pointer-events: auto;
        box-shadow: var(--box-shadow-base);
        transition: opacity var(--transition-fast),
            height var(--transition-fast),
            box-shadow var(--transition-fast),
            transform var(--transition-fast);
    }

    &:hover::before {
        box-shadow: var(--box-shadow-hover);
        transform: scale(1.01);
    }

    &::after {
        content: '+';
        top: 42%;
        left: 51%;
        transform: translate(-50%, -44%);
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
        z-index: 2;
        pointer-events: none;
    }
}

.list:last-child:hover .addItemButton {
    height: 22px;
    margin-bottom: 10px;
    margin-top: 7px;

    &::before {
        opacity: var(--colorful-opacity);
        width: 100%;
    }

    &::after {
        opacity: 0.9;
    }
}