.air #sidebar {
    background-color: #f8f8f8;
    text-align: right;
}

.air .restyle-input {
    text-align: inherit;
}

.air #sidebar .item {
    color: #000;
    text-align: inherit;
}

.air #sidebar .hoverable:hover {
    color: var(--greyed-text);
    text-align: inherit;
}

.air .sidebar-label {
    color: #fff;
    background-color: var(--main-color);
    padding: 2px 5px 2px 15px;
    text-align: var(--sidebar-text-align);
    justify-self: end;
}

.air .sidebar .picture-container {
    max-width: 80%;
    align-self: end;
    margin-right: 12px;
}

.air .topbox {
    height: 12px;
}

.air .languages li {
    justify-content: end;
}

.air .resume-section {
    margin-top: 13px;
}

.air .personal {
    margin-right: 14px;
    border-right: 8px solid var(--main-color);
}

.air .main-label {
    border-bottom: 2px solid var(--main-color);
    background: white;
}

.air .box-color {
    background-color: transparent;
}

.air .topbox {
    opacity: 0;
}

.air .hobbies .sidebar-label {
    padding: 2px 5px 2px 11px;
}

.air #main-section {
    // background-color: #fff;
    border-radius: 2px;
}

#a4-container.air {
    background-color: white;
    // padding: 0px 0px;
}